<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Author</key>
	<string>Mockko</string>
	<key>CFBundleDisplayName</key>
	<string>LiveReload</string>
	<key>CFBundleIdentifier</key>
	<string>com.mockko.livereload</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleShortVersionString</key>
	<string>1.4</string>
	<key>CFBundleVersion</key>
	<string>1.4</string>
	<key>Chrome</key>
	<dict>
		<key>Context Menu Items</key>
		<array>
			<dict>
				<key>Command</key>
				<string>enable</string>
				<key>Identifier</key>
				<string>enable</string>
				<key>Title</key>
				<string>Enable LiveReload</string>
			</dict>
		</array>
		<key>Global Page</key>
		<string>LiveReload.html</string>
	</dict>
	<key>Content</key>
	<dict>
		<key>Scripts</key>
		<dict>
			<key>End</key>
			<array>
				<string>LiveReload-injected.js</string>
			</array>
		</dict>
	</dict>
	<key>Description</key>
	<string>Applies CSS and JavaScript changes live, reloads page when HTML changes</string>
	<key>ExtensionInfoDictionaryVersion</key>
	<string>1.0</string>
	<key>Permissions</key>
	<dict>
		<key>Website Access</key>
		<dict>
			<key>Level</key>
			<string>All</string>
		</dict>
	</dict>
	<key>Update Manifest URL</key>
	<string>http://github.com/mockko/livereload/raw/master/LiveReload-update.plist</string>
	<key>Website</key>
	<string>http://github.com/mockko/livereload</string>
</dict>
</plist>
